* {
    margin: 0;
    padding: 0;
}
.footer {
    height: 100px;
    background-color:greenyellow;
}
ul {
    display: flex;
    justify-content: space-between;
}
.navig {
    width: 1000px;
    margin: auto;
}
.header {
    font-family: Verdana;
    font-size: 50px;
    color: black;
}
.footer:hover {
    background-color: rgb(255, 4, 4);
}
